.lw { font-size: 60px;
  color: blue;
text-align: center;}
.macas{background-image:url(C:\Users\Macas\Pictures\IMG_20210712_145139_443) ;}
.vin{border-radius: 60%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 

