.lw { font-size: 60px;
  color: blue;
text-align: center;}
.macas{background-image:url(https://image-cdn.beforward.jp/large/202111/2987054/BK485042_d46f35.jpg) ;}
.vin{border-radius: 60%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 

